/* ==========================================================================
   CSS for Blog Posts
   ========================================================================== */

h1 {
    text-align: center;
/*    padding: 0px 25px 0px 25px;*/
}

.date {
    text-align: center;
}

h2 {
/*    float: left;*/
/*    padding: 0px 25px 0px 35px;*/
/*    width: 90%;*/
/*    clear: both;*/
    padding-top: 25px;
}

.blog-text {
    width: 90%;
    margin: auto;
}

.blog-text p {
/*    text-indent: 3em;*/
/*    float: left;*/
    padding: 5px 0px 5px 0px;
/*    padding-top: 40px;*/
}

.code-snip {
    display: block;
    text-indent: 0.7em;
    width: 100%;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    background-color: #262726;
    color: #ffffff;
}

/* ==========================================================================
   CSS for Conv(X) Blog Webpage
   ========================================================================== */

.blog-link:link, .blog-link:visited, .blog-link:hover, .blog-link:active {
    color: #000000;
}

.post {
    margin: auto;
    color: #000000;
    width: 75%;
    background-color: #e6e6e6;
    border-radius: 25px;
    border-style: solid;
    border-width: medium;
    border-color: #000000;
    border-top: none;
    border-left: none;
    padding: 25px;
    position: relative;
    display: block;
    overflow: auto;
    max-width: 100%;
    max-height: 100%;
}

/*
.post:not(:last-child) {
    margin-bottom: 5px;
}
*/

.post-info {
    float: right;
}